/* fonts */
/* LXGW Wenkai */
@import url('https://cdn.jsdelivr.net/npm/lxgw-wenkai-lite-webfont@1.1.0/style.css');
/* Fira code */
@import url('https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css');
/* 思源宋体 */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:200,300,400,500,600,700,900');

/* Dark theme */
:root {
  color-scheme: light dark;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif SC', serif;
}

p, li, table {
  font-family: 'LXGW Wenkai Lite', serif;
}

p.caption {
  color: #777;
  margin-top: 10px;
}

/* code */

p code, table code, pre {
  white-space: inherit;
  font-family: 'Fira Code', monospace;
}

code {
  padding: 2px;
  font-size: 14px;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

.book .book-body .page-wrapper .page-inner section.normal pre {
  padding: .6em 1em;
  font-family: 'Fira Code', Consolas, monospace;
  font-size: 18px;
  line-height: 1.2;
}

/* MathJax */
.mjx-chtml {
  overflow-x: auto;
  overflow-y: hidden;
}

/* img */
div.figure {
  display: flex;
  flex-direction: column;
}

.book .book-body .page-wrapper .page-inner section.normal img {
  width: max(70%, 600px);
  margin: 0 auto;
}

p.caption {
  text-align: center;
}